*{
  margin: 0;
  padding: 0;

}


body {
  font-family: 'Inter', sans-serif; /* Usando a fonte Inter */
  line-height: 1.5;
  color: #333; /* Cor de texto padrão */
}

.container {
  max-width: 1400px; /* Defina a largura máxima do container */
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}